<ion-header>
    <ion-navbar>
        <ion-title>Confirmation</ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <form novalidate [formGroup]="account" (ngSubmit)="verify()" class="cust_confirm_reg">
        <ion-item>
            <ion-label floating>Username</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
        </ion-item>
        <ion-item no-lines
                  *ngIf="(account.get('username').hasError('required')) && (account.get('username').dirty || account.get('username').touched)">
            <div class="error"
                 *ngIf="account.get('username').hasError('required') && (account.get('username').dirty || account.get('username').touched)">
                Please enter your username
            </div>
        </ion-item>
        <ion-item class="lst_ion_itm">
            <ion-label floating>Code</ion-label>
            <ion-input type="text" formControlName="code"></ion-input>
        </ion-item>
        <ion-item no-lines
                  *ngIf="(account.get('code').hasError('required')) && (account.get('code').dirty || account.get('code').touched)">
            <div class="error"
                 *ngIf="account.get('code').hasError('required') && (account.get('code').dirty || account.get('code').touched)">
                Please enter your code
            </div>
        </ion-item>

        <button ion-button round class="submit-btn cust_lg_btn" type="submit" [disabled]="!account.valid">Verify Code
        </button>
        <button ion-button round class="cust_lg_btn" type="button" (click)="resendCode()">Resend Code</button>
    </form>
</ion-content>
