<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="ios-close-circle-outline" (click)="save()"></ion-icon>
            <span text-center>{{session.childInfoId}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <div class="session-reivew-header">
        <input type="text" class="session-reivew-name session-edit-name" [(ngModel)]="session.sessionName">
        <div class="session-reivew-date session-edit-date">{{ sessiondate}}</div>
        <textarea class="session-edit-presession" [(ngModel)]="session.preSessionInfo"></textarea>
    </div>
    <div class="session-reivew-body padding">
        <ion-list>
            <ion-item class="note-header-special">
                Behaviors
            </ion-item>
            <ion-item *ngFor="let item of session.behaviorRecord" no-lines>
                <div *ngIf="item.review" class="toggle-container toggle-mark">
                    <ion-icon name="ios-pricetags-outline"></ion-icon>
                </div>
                <div *ngIf="item.review" class="session-reivew-item">
                    <div class="session-reivew-main session-edit-main">
                        <div style="height: 5px;"></div>
                        <label class="review-edit-mark">Review</label>
                        <div class="session-review-behavior-title">{{item.behaviorName}}</div>
                        <div class="row">
                            <div class="col col-50 text-center" style="border-right: 1px solid #999;">
                  <span>
                   <ion-icon name="ios-stopwatch-outline"
                             style="padding-right: 5px;font-size: 18px;color: #00AA00;"></ion-icon>
                    Start Time
                  </span>
                            </div>
                            <div class="col col-50 text-center input-edit-container" style="padding-top:7px;">
                                <input type="text" class="input-edit-behavior" [(ngModel)]="item.startTime">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50 text-center" style="border-right: 1px solid #999;">
                  <span>
                    <ion-icon name="ios-stopwatch-outline"
                              style="padding-right: 5px;font-size: 18px;color: #AA0000;"></ion-icon>
                    Stop Time
                  </span>
                            </div>
                            <div class="col col-50 text-center input-edit-container" style="padding-top:7px;">
                                <input type="text" class="input-edit-behavior" [(ngModel)]="item.stopTime">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-50 text-center" style="border-right: 1px solid #999;">
                  <span>
                   <ion-icon name="ios-stopwatch-outline"
                             style="padding-right: 5px;font-size: 18px;color: #e6a100;"></ion-icon>
                    &nbsp;&nbsp;Duration&nbsp;
                  </span>
                            </div>
                            <div class="col col-50 text-center" style="padding-top:7px;">
                                {{item.timeInterval}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="item item-input item-stacked-label" style="width:100% !important;">
                                <textarea class="bubble bubble-t bubble-session-edit" name="preSessionInfo"
                                          [(ngModel)]="item.behaviorDescription" placeholder="Behavior Notes."
                                          required></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </ion-item>
            <ion-item *ngIf="session.sessionNotes" class="note-header-special">
                Notes
            </ion-item>
            <ion-item *ngFor="let item of session.sessionNotes;let i = index;"
                      class="no-pad-margin sessionnote-on-edit">
                <div class="note-timeline-mark"></div>
                <div class="note-item">
                    <div class="note-timeline-timestamp">
                        <div style="height : 3px; width:100%"></div>
                        {{item.datetime}} - Added
                    </div>
                    <div class="note-timeline-content">
                        <div style="height : 10px; width:100%"></div>
                        <textarea class="bubble bubble-t bubble-session-edit" [(ngModel)]="item.text"></textarea>
                        <div style="height : 10px; width:100%"></div>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
