page-edit-session {
  .session-reivew-item {
    padding-left: 30px;
    min-height: 100px;
  }
  .session-reivew-main {
    min-height: 100px;
    padding-left: 30px;
    border-left: 2px solid #387ef5;
  }
  .session-review-behavior-title {
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 30px;
    border-bottom: 2px solid #387ef5;
    color: #886aea;
    font-style: italic;
    font-weight: bold;
  }

  .session-edit-name {
    font-size: 24px !important;
    line-height: 32px !important;
    color: #387ef5 !important;
    font-weight: bold !important;
    border-bottom: 1px dashed #999 !important;
    width: 100%;
  }
  .session-edit-presession {
    margin-top: 10px;
    width: 100% !important;
    border-bottom: 1px dashed #999 !important;
    height: 100px;
  }
  .toggle-mark {
    margin-left: 20px;
    width: 24px !important;
    color: #387ef5;
    font-size: 24px;
    height: 36px;
    line-height: 36px;
  }
  .session-edit-main {
    padding-left: 10px;
  }
  .input-edit-container {
    text-align: center !important;
  }
  .input-edit-behavior {
    display: initial !important;
    border-bottom: 1px dashed #999 !important;
    text-align: center;
    font-size: 16px !important;
    width: 120px !important;
    min-width: initial !important;
    height: initial !important;
    padding: initial !important;
    margin: initial !important;
  }
  .review-edit-mark {
    position: absolute;
    right: 30px;
    font-size: 10px;
    background-color: #00AA00;
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
    margin-top: 5px;
  }

  .sessionnote-on-edit {
    margin-left: 10px !important;
  }

  .bubble-session-edit {
    width: 100%;
    border-radius: 0px !important;
    box-shadow: initial !important;
    border: 1px dashed #999 !important;
  }
}
