<ion-header>
    <ion-navbar color="primary">
        <ion-title>Session {{children.childInfoId}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <h3 text-center>Enter Session Information</h3>
    <form novalidate [formGroup]="session">
        <ion-item>
            <ion-label stacked>Name</ion-label>
            <ion-input type="text" formControlName="name"></ion-input>
        </ion-item>
        <ion-item no-lines
                  *ngIf="(session.get('name').hasError('required')) && (session.get('name').dirty || session.get('name').touched)">
            <div class="error"
                 *ngIf="session.get('name').hasError('required') && (session.get('name').dirty || session.get('name').touched)">
                Please enter session name
            </div>
        </ion-item>
        <ion-item>
            <ion-label stacked>Pre-Session Information</ion-label>
            <ion-input type="text" formControlName="info"></ion-input>
        </ion-item>
        <ion-item no-lines
                  *ngIf="(session.get('info').hasError('required')) && (session.get('info').dirty || session.get('info').touched)">
            <div class="error"
                 *ngIf="session.get('info').hasError('required') && (session.get('info').dirty || session.get('info').touched)">
                Please enter session information
            </div>
        </ion-item>
    </form>

    <ion-list>
        <ion-list-header>Choose at least 1 behavior record</ion-list-header>
        <ion-item *ngFor="let behavior of behaviors">
            <ion-label>{{behavior.behaviorName}}</ion-label>
            <ion-checkbox [(ngModel)]="behavior.checked" (click)="selectBehavior(behavior)"></ion-checkbox>
        </ion-item>
    </ion-list>

    <button ion-button (click)="record()" round class="submit-btn" type="submit"
            [disabled]="!session.valid || (selectedArray && selectedArray.length === 0)">Start Session
    </button>
</ion-content>
