<ion-header>
    <ion-navbar>
        <ion-title>Register</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div>
        <form novalidate [formGroup]="account" (ngSubmit)="register()" class="cust_reg_frm">
            <ion-item>
                <ion-label floating>Email</ion-label>
                <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item no-lines
                      *ngIf="(account.get('email').hasError('required')) && (account.get('email').dirty || account.get('email').touched)">
                <div class="error"
                     *ngIf="account.get('email').hasError('required') && (account.get('email').dirty || account.get('email').touched)">
                    Please enter your email
                </div>
            </ion-item>
            <ion-item>
                <ion-label floating>Password</ion-label>
                <ion-input type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item no-lines
                      *ngIf="(account.get('password').hasError('required')) && (account.get('password').dirty || account.get('password').touched)">
                <div class="error"
                     *ngIf="account.get('password').hasError('required') && (account.get('password').dirty || account.get('password').touched)">
                    Please enter your password
                </div>
            </ion-item>
            <ion-item>
                <ion-label floating>Name</ion-label>
                <ion-input type="text" formControlName="name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Family Name</ion-label>
                <ion-input type="text" formControlName="family_name"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Role</ion-label>
                <ion-input type="text" formControlName="role"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Role ID</ion-label>
                <ion-input type="text" formControlName="role_id"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label floating>Gender</ion-label>
                <ion-select formControlName="gender">
                    <ion-option value="male">Male</ion-option>
                    <ion-option value="female">Female</ion-option>
                </ion-select>
            </ion-item>

            <button ion-button round class="submit-btn cust_lg_btn" type="submit" [disabled]="!account.valid">Create
                Account
            </button>
        </form>
    </div>
</ion-content>
