// Roboto Font
// Google
// Apache License, version 2.0
// http://www.apache.org/licenses/LICENSE-2.0.html

$roboto-font-path: $font-path !default;

@font-face {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  src: url("#{$roboto-font-path}/segoe_ui.eot"); /* IE9*/
  src: url("segoe_ui.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("#{$roboto-font-path}/segoe_ui.woff2") format("woff2"), /* chrome、firefox */
  url("#{$roboto-font-path}/segoe_ui.woff") format("woff"), /* chrome、firefox */
  url("#{$roboto-font-path}/segoe_ui.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url("#{$roboto-font-path}/segoe_ui.svg#Segoe UI") format("svg"); /* iOS 4.1- */
}