<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Session Notes</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-list>
        <ion-item no-lines *ngFor="let note of notes">
            <div class="note-timeline-mark"></div>
            <div class="note-item">
                <div class="note-timeline-timestamp">
                    <div style="height : 3px;"></div>
                    {{note.datetime}} - Added
                </div>
                <div class="note-timeline-content">
                    <div style="height : 10px;"></div>
                    <div class="bubble">{{note.text}}</div>
                    <div style="height : 10px;"></div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</ion-content>
<ion-footer>
    <div class="footer-chat-inputbar">
        <div class="button-note-save" (click)="save()">Save</div>
        <textarea class="footer-chat-textarea" placeholder="Please add your notes here." [(ngModel)]="note"></textarea>
    </div>
</ion-footer>
