page-session-notes {
  .note-timeline-mark {
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #666 !important;
    position: absolute;
    margin-left: 13px;
  }

  .note-timeline-timestamp {
    border-left: 2px solid #666;
    padding-left: 15px;
    color: #00AA00;
    font-style: italic;
    font-weight: bold;
  }

  .note-timeline-content {
    border-left: 2px solid #666;
    padding-left: 10px;
  }

  .note-item {
    padding: 0px !important;
    margin-left: 20px !important;
  }

  .note-item .bubble {
    display: inline-block;
    overflow: scroll !important;
    white-space: initial !important;
    margin: 10px;
    margin-top: 0px;
    padding: 10px;
    border: 2px solid #00aaff;
    border-radius: 10px;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .3);
    max-width: 94%;
  }

  .footer-chat-inputbar {
    min-height: 72px;
    padding: 6px;
    background-color: #00aaff;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 72px !important;
    box-shadow: 0px -2px 2px rgba(0, 0, 0, .3);
  }

  .has-input-footerbar {
    bottom: 72px !important;
  }

  .footer-chat-textarea {
    width: calc(100% - 72px);
    border: 1px solid #ccc;
    border-radius: 5px;
    height: 60px;
    padding: 5px;
  }

  .button-note-save {
    position: absolute;
    right: 6px;
    color: #fff;
    border: 2px solid #fff !important;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    height: 60px;
    line-height: 52px;
    font-weight: bold;
    font-size: 18px;
  }

  .button-note-save.activated {
    opacity: 0.5 !important;
  }

  .label-md {
    margin: 0 !important;
  }
}
