<ion-header>
    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title class="page-title"><span class="page-heading">Syntonic</span></ion-title>
    </ion-navbar>
</ion-header>

<ion-content>
    <ion-segment [(ngModel)]="category" full="true" assertive (change)="segmentChanged()">
        <ion-segment-button value="record">
            Record
        </ion-segment-button>
        <ion-segment-button value="review">
            Review
        </ion-segment-button>
    </ion-segment>
    <div>
        <ion-row>
            <ion-col text-left>
                <ion-searchbar [animated]="true" [placeholder]="'Search'" [debounce]="1000"></ion-searchbar>
            </ion-col>
        </ion-row>
        <ion-card class="profile-card" *ngFor="let child of childrens" (click)="session(child)">
            <ion-card-content>
                <ion-row>
                    <ion-col col-3>
                        <img *ngIf="child.gender === 'male'" class="user-image" src="../../assets/imgs/icon_boy.png">
                        <img *ngIf="child.gender === 'female'" class="user-image" src="../../assets/imgs/icon_girl.png">
                    </ion-col>
                    <ion-col col-9>
                        <p>{{child.childInfoId}}</p>
                        <p>Age: {{child.age}}</p>
                    </ion-col>
                </ion-row>
            </ion-card-content>
        </ion-card>
    </div>
</ion-content>
