page-home {
  @keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

  //color: #488aff;

  .login-bg {
    margin: auto;
    background: url('../../assets/imgs/bg.png') no-repeat transparent;
    background-size: cover;
    width: 100%;
  }

  .home-content .login-box {
    padding: 15px 5px 15px 5px;
    //background-color: #fff;
    width: 90%;
    text-align: center;
    margin: 5% auto;
  }

  .home-content .login-box h3 {
    color: #ffffff;
    font-size: 4.2rem;
    font-family: inherit;
  }

  ion-item {
    border-radius: 30px !important;
    padding-left: 30px !important;
    font-size: 0.9em;
    margin-bottom: 10px;
    border: 1px solid #ffffff;
    border-bottom: 0px !important;
    box-shadow: none !important;
    background-color: unset !important;
  }

  ion-label {
    font-style: italic;
  }

  .item-input .input_cust_lbl, .cust_input {
    color: #ffffff !important;
  }
  .submit-btn {
    text-align: center !important;
    margin-top: 25px;
  }

  .toolbar-title-md {
    text-align: center !important;
  }

  .cust_lg_btn {
    opacity: 1 !important;
  }

  .error {
    color: red;
    font-style: normal !important;
  }

  @media only screen and (max-height: 400px) {
    .home-content .login-box {
      padding: 0 !important;
    }
  }
}
