<ion-content class="home-content login-bg" padding>
    <div class="login-box">
        <h3 class="toolbar-title-md" text-center>Syntonic</h3>
        <form novalidate [formGroup]="account" (ngSubmit)="login()">
            <ion-item class="form-input-control">
                <ion-label class="input_cust_lbl" floating>
                    <ion-icon name="person"></ion-icon>
                    Email
                </ion-label>
                <ion-input class="cust_input" type="text" formControlName="email"></ion-input>
            </ion-item>
            <ion-item no-lines
                      *ngIf="(account.get('email').hasError('required')) && (account.get('email').dirty || account.get('email').touched)">
                <div class="error"
                     *ngIf="account.get('email').hasError('required') && (account.get('email').dirty || account.get('email').touched)">
                    Please enter your email
                </div>
            </ion-item>
            <ion-item>
                <ion-label class="input_cust_lbl" floating>
                    <ion-icon name="lock"></ion-icon>
                    Password
                </ion-label>
                <ion-input class="cust_input" type="password" formControlName="password"></ion-input>
            </ion-item>
            <ion-item no-lines
                      *ngIf="(account.get('password').hasError('required')) && (account.get('password').dirty || account.get('password').touched)">
                <div class="error"
                     *ngIf="account.get('password').hasError('required') && (account.get('password').dirty || account.get('password').touched)">
                    Please enter your password
                </div>
            </ion-item>

            <button ion-button round class="submit-btn cust_lg_btn" type="submit" [disabled]="!account.valid">Sign
                In
            </button>
            <button ion-button round class="submit-btn cust_lg_btn" (click)="register()" type="button">Create Account
            </button>
        </form>
    </div>
</ion-content>