<ion-menu [content]="content" [swipeEnabled]="false">
    <ion-header>
        <ion-toolbar color="primary">
            <ion-title>
                <div>
                    <p>Welcome {{ userService.getUser() ? userService.getUser().name : '' }}</p>
                </div>
            </ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-content>
        <ion-list class="menu-itm-list">
            <button class="menu-items" menuToggle ion-item (click)="logout()" color="primary">
                <div class="menu-title"><p>Logout</p></div>
            </button>
        </ion-list>
    </ion-content>
</ion-menu>
<ion-nav [root]="rootPage" #content></ion-nav>
