page-session-review {
  .review-text {
    position: absolute;
    right: 2px;
    font-size: 12px;
    width: 100px !important;
    text-align: right !important;
    margin-top: -2px !important;
    z-index: 10 !important;
  }

  .session-reivew-header {
    padding: 15px;
  }

  .session-reivew-name {
    font-size: 24px;
    line-height: 32px;
    color: #387ef5;
    font-weight: bold;
  }

  .session-reivew-date {
    font-size: 16px !important;
    color: #00AA00 !important;
    line-height: 32px !important;
  }

  .session-edit-date {
    border-bottom: 1px dashed #999 !important;
    width: 100%;
    font-size: 18px !important;
    margin-top: 5px !important;
  }

  .session-review-behavior-title {
    padding-bottom: 5px;
    padding-left: 5px;
    margin-right: 30px;
    border-bottom: 2px solid #387ef5;
    color: #886aea;
    font-style: italic;
    font-weight: bold;
  }

  .toggle-container {
    width: 60px;
    text-align: center;
    position: absolute;
    margin-left: 2px;
    background-color: #fff !important;
  }

  .toggle-container .checkbox {
    padding: 0px !important;
  }

  .toggle-review-label {
    color: #ef473a;
    font-size: 12px;
    line-height: 12px;
  }

  .session-reivew-item {
    padding-left: 30px;
    min-height: 100px;
  }

  .session-reivew-main {
    min-height: 100px;
    padding-left: 30px;
    border-left: 2px solid #387ef5;
  }
}
