<ion-header>
    <ion-navbar color="primary">
        <ion-buttons end>
            <button ion-button icon-only (click)="closeModal()">
                <ion-icon name="close"></ion-icon>
            </button>
        </ion-buttons>
        <ion-title>Session Review</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <ion-row>
        <ion-col col-12>
            <div class="session-reivew-name" *ngIf="sessioninfo">{{sessioninfo.name}}</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <div class="session-reivew-date">{{ date | date:'yyyy/MM/dd'}}</div>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-12>
            <div class="session-reivew-presession" *ngIf="sessioninfo">{{sessioninfo.info}}</div>
        </ion-col>
    </ion-row>
    <div class="session-reivew-body padding">
        <ion-list>
            <ion-item no-lines *ngFor="let session of sessions">
                <div class="toggle-container">
                    <label class="checkbox">
                        <input type="checkbox" [(ngModel)]="session.review" [disabled]="true">
                    </label>
                    <div class="toggle-review-label">
                        Review
                    </div>
                </div>
                <div class="session-reivew-item">
                    <div class="session-reivew-main">
                        <div class="session-review-behavior-title">{{session.behaviorName}}</div>
                        <ion-row>
                            <ion-col col-6>
                                <ion-icon name="ios-stopwatch-outline"
                                          style="padding-right: 5px;font-size: 18px;color: #00AA00;"></ion-icon>
                                Start Time
                            </ion-col>
                            <ion-col col-6>
                                {{session.startTime}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <ion-icon name="ios-stopwatch-outline"
                                          style="padding-right: 5px;font-size: 18px;color: #AA0000;"></ion-icon>
                                Stop Time
                            </ion-col>
                            <ion-col col-6>
                                {{session.stopTime}}
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col col-6>
                                <ion-icon name="ios-stopwatch-outline"
                                          style="padding-right: 5px;font-size: 18px;color: #e6a100;"></ion-icon>
                                Duration&nbsp;
                            </ion-col>
                            <ion-col col-6>
                                {{session.timeInterval}}
                            </ion-col>
                        </ion-row>
                    </div>
                </div>
            </ion-item>
        </ion-list>
    </div>
</ion-content>
