page-review-session-info {
  .session-select-header .session-select-title {
    min-height: 24px !important;
    font-size: 18px;
    border-bottom: 2px solid #50b4e5;
    padding-bottom: 6px;
    padding-left: 10px;
  }

  .button-icon-title {
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
  }
  .button-icon-edit {
    color: #00aaff;
    position: absolute;
    right: 10px;
    margin-top: -38px;
  }

  .session-select-footer {
    height: 50px;
    line-height: 48px;
  }
  .button-icon-download {
    display: inline;
    border: 2px solid #00AA00;
    border-radius: 10px;
    line-height: 28px !important;
    padding: 5px;
    padding-left: 32px !important;
    min-height: 32px !important;
    height: 32px !important;
    width: 160px;
    text-align: center;
    color: #006600;
  }
  .button-icon-download i {
    position: absolute;
    margin-left: -140px;
    margin-top: 10px;
    font-size: 24px;
    color: #00AA00;
  }
  .delete-behavior-button {
    position: absolute;
    right: 10px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-top: -25px;
    color: #ef473a;
  }
  .margin-left-30px {
    margin-left: 30px !important;
    border-bottom: 1px solid #999 !important;
  }
  .behavior-header-title {
    font-size: 16px;
  }
  .padding-top {
    padding-top: 10px;
  }
}
