<ion-header>
    <ion-navbar color="primary">
        <ion-title>Session {{children.childInfoId}}</ion-title>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <div class="padding" *ngFor="let session of sessions;let k = index;">
        <div class="session-select-header">
            <div class="session-select-title" *ngIf="session.sessionName">{{session.sessionName}}</div>
            <div class="session-select-title unnamed" *ngIf="!session.sessionName">Untitled*</div>
            <div class="button-icon-title button-icon-edit" (click)="edit(session, k)">
                <ion-icon name="ios-create-outline"></ion-icon>
            </div>
        </div>
        <div class="session-select-body">
            <div *ngFor="let behavior of session.behaviorRecord;let i = index;" class="padding-top">
                <div class="margin-left-30px">
                    <div class="behavior-header-title">
                        <i class="icon ion-record icon-behavior-mark"></i>
                        {{behavior.behaviorName}}
                        <div class="delete-behavior-button" (click)="deleteBehavior(k, i)">
                            <ion-icon name="ios-trash-outline"></ion-icon>
                        </div>
                        <label class="review-mark" *ngIf="behavior.review">Review</label>
                    </div>
                    <ion-row>
                        <ion-col col-6>
                            <ion-icon name="ios-stopwatch-outline"
                                      style="padding-right: 5px;font-size: 18px;color: #00AA00;"></ion-icon>
                            Start Time
                        </ion-col>
                        <ion-col col-6>
                            {{behavior.startTime}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <ion-icon name="ios-stopwatch-outline"
                                      style="padding-right: 5px;font-size: 18px;color: #AA0000;"></ion-icon>
                            Stop Time
                        </ion-col>
                        <ion-col col-6>
                            {{behavior.stopTime}}
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col col-6>
                            <ion-icon name="ios-stopwatch-outline"
                                      style="padding-right: 5px;font-size: 18px;color: #e6a100;"></ion-icon>
                            Duration&nbsp;
                        </ion-col>
                        <ion-col col-6>
                            {{behavior.timeInterval}}
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </div>
        <div class="session-select-footer">
            <ion-row>
                <ion-col col-12 text-right>
                    <div class="button-icon-download" (click)="exportCSV(session)">
                        <label>Download as CSV</label>
                        <ion-icon name="ios-cloud-download-outline"></ion-icon>
                    </div>
                </ion-col>
            </ion-row>
        </div>
    </div>
</ion-content>
