page-record-session {
  .session-timer-display {
    font-size: 40px !important;
    margin: 10px;
  }

  ion-icon {
    float: right;
    margin: 2px;
  }

  .behavior-stopwatch-play-button-container {
    position: relative;
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0);
    /*background-color: green;*/
    background-image: url('../../assets/imgs/btn_play.png');
    background-size: cover;
    text-align: center;
    align-content: center;

  }
  .behavior-stopwatch-stop-button-container {
    position: relative;
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 50px;
    color: rgba(0, 0, 0, 0);
    /*background-color: red;*/
    background-image: url('../../assets/imgs/btn_stop.png');
    background-size: cover;
    text-align: center;
    align-content: center;
  }

  .behave-container-text {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
    overflow: auto;
  }
  .behave-childID-text {
    width: 100%;
    height: auto;
    text-align: center;
    color: black;
    font-size: 20px;
    font-weight: bold;
  }

  .stopwatch-label {
    text-align: center !important;
    font-size: 30px !important;
    line-height: 30px !important;
  }

  .behavior-stopwatch-reset-button-container {
    position: relative;
    float: right;
    width: 72px;
    height: 72px;
    overflow: hidden;
    border-radius: 50px;
    background-image: url('../../assets/imgs/btn_replay.png');
    background-size: cover;
    text-align: center;
    align-content: center;
  }

  .behavior-default-button-container {
    position: relative;
    width: 20px;
    height: 20px;
    overflow: hidden;
    border-radius: 50px;
    margin: 5px;
    color: black;
    background-color: yellow;
    text-align: center;
    align-content: center;
    font-weight: bold;
  }

  .session-button-container {
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50px;
    margin: 0px;
    color: black;
    background-color: #ffffff;
    text-align: center;
    align-content: center;
    font-weight: bold;

  }
  ion-card-header {
    background-color: #387ef5;
    color: white !important;
    font-family: inherit;
    font-size: 18px !important;
  }

  .review-text {
    position: absolute;
    right: 25px;
    font-size: 12px;
    width: 100px !important;
    text-align: right !important;
    margin-top: -2px !important;
    z-index: 10 !important;
  }

  .checkbox-reivew.checkbox input:before, .checkbox-icon:before {
    background: rgba(255, 255, 255, 1) !important;
    border: 1px solid #fff !important;
  }
  .checkbox-reivew.checkbox input:checked:before, .checkbox input:checked + .checkbox-icon:before {
    background-color: #33cd5f !important;
    border: 2px solid #fff !important;
  }

  .checkbox-icon {
    margin-left: 240px !important;
    margin-top: -40px !important;
  }
}
