<ion-header>
    <ion-navbar color="primary">
        <ion-title>
            <ion-icon name="ios-close-circle-outline" (click)="save()"></ion-icon>
            <ion-icon name="ios-create-outline" (click)="notes()"></ion-icon>
            <ion-icon name="ios-list-box-outline" (click)="review()"></ion-icon>
            <span text-center>{{children.childInfoId}}</span>
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-card *ngFor="let behavior of behaviors;let i = index;">
        <ion-card-header>
            {{behavior.behaviorName}}
            <div>
                <ion-label class="review-text">Mark for Review</ion-label>
                <ion-checkbox class="checkbox-reivew" [(ngModel)]="behaviors[i].review"></ion-checkbox>
            </div>
        </ion-card-header>
        <ion-card-content>
            <div class="text-center session-timer-display">
                {{behaviors[i].str_hr}}:{{behaviors[i].str_min}}:{{behaviors[i].str_sec}}.<label
                    style="font-size:32px">{{behaviors[i].str_mil}}</label>
            </div>
            <div style="height:77px !important;">
                <button
                        [disabled]="(behaviors[i].str_min != '00' || behaviors[i].str_sec != '00' || behaviors[i].str_mil != '00')"
                        *ngIf="behaviors[i].buttonLabel == 'Start'"
                        (click)="applyStopwatch(i)"
                        class="button button-icon behavior-stopwatch-play-button-container"></button>

                <button *ngIf="behaviors[i].buttonLabel== 'Stop'"
                        (click)="applyStopwatch(i)"
                        class="button button-icon behavior-stopwatch-stop-button-container">
                </button>

                <button [disabled]="behaviors[i].buttonLabel == 'Stop' && (behaviors[i].str_min != '00' || behaviors[i].str_sec != '00' || behaviors[i].str_mil != '00')"
                        (click)="applyReset(i,true)"
                        class="button button-icon behavior-stopwatch-reset-button-container text-center"></button>

            </div>
        </ion-card-content>
    </ion-card>
</ion-content>
